body{
    margin: 0;
    padding: 0;
}
#have_que{
    /* border: 1px solid red; */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-family: soleil, Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}
#background_img_section{
    /* border: 1px solid red; */
    position: relative;
    opacity: 1; 
}
#background_img_poster{
    width: 95%;
    height: 350px;
    margin-left: 2.5%;
}
#text_GiftGuide{
    position: absolute;
    font-size: 75px;
    top:25px;
    left: 37%;
    color: white;
    font-family: freight-big-pro;
    font-weight:0.5;
    -webkit-font-smoothing: antialiased;
}
#text_GiftGuide + span{
    position: absolute;
    color: white;
    top: 115px;
    left: 33%;
    letter-spacing: 0.125vh;
    font-weight: bold;
    font-family: freight-big-pro,sans-serif;
}
 #poster_dropdown{
    /* border: 1px solid red; */
    padding: 30px 300px 30px;
    position: absolute;
    top: 140px;
    left: 24%;
}
/*
#poster_dropdown > select{
    padding: 10px 40px 10px 40px;
    box-shadow: 0px;
    
}
.poster_dropdown_content{
    padding: 20px;
    box-shadow: none;
    color: red;
    
} */

/* DROPDOWN CSS- Dropdown Button */

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px 120px 16px 120px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
  }

  #dropdown_arrow{
    margin-left: 30px;
    margin-right: -40px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(82, 80, 80, 0.2);
    z-index: 1;
    margin-top: -30px;

   
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;

    background-color: white;
    color: #da2c05;
    padding: 16px 91px 16px 120px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
    background-color: #f2f2f2;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(209, 203, 203);
    cursor: pointer;
}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /* END OF DROPDOWN CSS */


#best_seller_btn{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 16px 80px 16px 80px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-left: -200px;
}
#best_seller_btn:hover{
    background-color: #fdd3dc;
    color: black;
}

#top_rated_btn{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 16px 80px 16px 80px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-left: 220px;
}
#top_rated_btn:hover{
    background-color: #fdd3dc;
    color: black;
}

/* filter buttons css */
/* filter buttons css */

#main_div{
    /* border: 1px solid black; */
    display: flex;
    margin-top: 30px;
    height: auto;
    width: 95%;
    margin-left: 2.5%;
}
.filter_btns{
    /* border: 1px solid blue; */
    margin-top: 20px;
    height: auto;
}
.filter_btns > span{
    /* border: 1px solid blue; */
    border: 1px solid black;
    padding: 12px 30px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: sans-serif;
}
#dark_dropdopwn_filterbtn1{
    margin-left: 30px;
}
#dark_dropdopwn_filterbtn2{
    margin-left: 30px;
}
#category_section{
  /* border: 1px solid pink; */
  margin-top: 20px;
  margin-left: 20px;
  height: auto;
  padding-bottom: 20px;
}
#category_section > #category_div{
    margin-bottom: -20px;
}
#category_text_label{
    /* border: 1px solid red; */
    margin-bottom: -50px;
}
.category_label_input{
    /* border: 1px solid red; */
    padding: 05px 20px;
    margin-bottom: 15px;
    font-family: sans-serif;
}
#for_filter_text_label_1{
    /* border: 1px solid red; */
    margin-top: 10px;
}
.category_text_label{
    /* border: 1px solid black; */
    font-size: large;
    font-family: sans-serif;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px 20px;
    /* justify-content: space-between; */
}

.section_dont_show{
    /* border: 1px solid blue; */
    margin-bottom: 10px;
}

/* ------------------------------------------- */
/* show / dont show filter tag */
/* #other_filter_btns{
margin-top: 20px;
}
.other_filter_btns{
    display: block;
    position: relative;
}
.section_dont_show{
    display: none;
    position: absolute;
}
.show_label{
    display: block;
    position: relative;
} */
/* End of show / dont show filter tag */
/* ------------------------------------------- */

/* individual filters side - downArrow */
#filter_downArrow1{
    margin-left: 50px;
    margin-right: 10px;
}
#filter_downArrow2{
    margin-left: 53px;
    margin-right: 10px;
}
#filter_downArrow3{
    margin-left: 90px;
    margin-right: 10px;
}
#filter_downArrow4{
    margin-left: 82px;
    margin-right: 10px;
}
#filter_downArrow5{
    margin-left: 66px;
    margin-right: 10px;
}
#filter_downArrow6{
    margin-left: 54px;
}
#filter_downArrow7{
    margin-left: 77px;
    margin-right: 10px;
}
#filter_downArrow8{
    margin-left: 20px;
    margin-right: 10px;
}



