<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../styles/footer.css">
</head>
<body>
   
    <div id="cnd">
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiiHAhKBJHjxyL_Zm-VswF8TIHNhBkKUtJ_dHhuFoOWg&s" alt="">
            <p>@jcrew_help</p>
        </div>
        <div>
            <img src="https://w7.pngwing.com/pngs/831/26/png-transparent-telephone-logo-telephone-call-computer-icons-symbol-phone-miscellaneous-cdr-text.png" alt="">
            <p>1800 562 0258</p>
        </div>
        <div>
            <img src="https://www.pngitem.com/pimgs/m/11-118815_computer-icons-gmail-email-black-black-and-white.png" alt="">
            <p>Email Us</p>
        </div>
    </div>
    <div id="pf">
<div id="fcf">
<div>
    <div>
        <p> <b>Help
        </b> </p>
        <p>Customer Service
        </p>
        <p>Track Order
        </p>
        <p>Returns & Exchanges
        </p>
        <p>Shipping
        </p>
        <p>International Orders
        </p>
        <p>Afterpay
        </p>
        <p>Contact Us</p>
    </div>
    <div>
        <p> <b>Quick Links
        </b> </p>
        <p>Find a Store
        </p>
        <p>Store Services
        </p>
        <p>J.Crew Passport
        </p>
        <p>Style on Demand
        </p>
        <p>Gift Cards
        </p>
        <p>Size Charts
        </p>
        <p>Teachers & Students
        </p>
        <p>First Responders
        </p>
        <p>Medical & Military Personnel
        </p>
        <p>Refer a Friend
        </p>
        <p>Offers & Promotions
        </p>
        <p>My Favorites
        </p>
    </div>
    <div>
        <p> <b>About J.Crew
        </b> </p>
        <p>Our Story
        </p>
        <p>Careers
        </p>
        <p>Social Responsibility
        </p>
        <p>California Transparency Act/Modern Slavery Act
        </p>
        <p>Investor Relations
        </p>
        <p>Terms of Use
        </p>
        <p>Privacy Policy
        </p>
        <p>California Do Not Sell My Personal Information
        </p>
        <p>Diversity, Equity and Inclusion at J.Crew Group</p>
    </div>
</div>
<div>
    <div>
<h4>Like Being First?
</h4>
<p>Get can't-miss style news, before everybody else.
</p>
    </div>
    <div>
        <input type="text" placeholder="Enter your email." name="" id="">
        <button>SIGN UP</button>
    </div>
    <div>
        <h4>J.Crew Passport
        </h4>
<p>Free shipping on jcrew.com, points on every purchase and so much more! Learn MoreSign Up Free
</p>
    </div>
    <div>
        <h4>The J.Crew Credit Card
        </h4>
<p>Get $10 for every $200 you spend, plus 15% off* when you apply today.Manage Your Card</p>
    </div>
</div>
</div>
<div id="scf">
<div>
    <img src="https://i.ibb.co/1RNKrkm/Screenshot-20221216-234528.png" alt="">
</div>
<div>
    <h2 style="text-decoration: underline;">
        United States 
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/383px-Flag_of_the_United_States.svg.png" width="30px" alt="">
    </h2>
    
</div>
<div>
    <img src="https://i.ibb.co/Sv0HTTy/Screenshot-20221216-235136.png" alt="">
</div>
<div>
    <p style="color: gray;">
        © 2022 J.Crew
    </p>
</div>
</div>
    </div>
</body>
</html>
