body{
    background-image: linear-gradient(to left, rgba(255,1,1,0), rgba(255,155,1,1));
    /* background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1)); */
}
#adminproduct{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    text-align: center;
    padding: 2% 5%;
    width: 20%;
    border-radius: 10px 100px / 120px;
    margin: auto;
    margin-top: 80px;
    background-color: white;
}
#adminproduct>input{
    width: 100%;
    height: 35px;
}
#adminproduct>button{
    width: 90%;
    height: 35px;
    background-color: black;
    color: white;
}
#adminproduct>button:hover{
  cursor: pointer;
}