body{
    margin:0;
    padding:0;
}
#question{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #3a3a3a;
    
}
#main_des{
    width: 80%;
    margin: auto;
    
}
#sub_main{
    display: flex;
    gap: 20px;
    width: 100%;
}
#smallimg{
    width: 10%;
}
#smallimg > img{
    width: 100%;
}
#bigimg{
    width: 60%;
    overflow: hidden;
}
#bigimg > img{
    width: 100%;
}
#description{
    width: 30%;
}
#product_n+p{
    margin-top: -15px;
    color: gray;
}
#star{
    display: flex;
}
#star>img{
    margin-top: 18px;
    height: 15px;
}
#star>p{
    margin-left: 10px;
    color: gray;
}
#star>p:hover{
    cursor: pointer;
}
#INR{
    display: flex;
}
#INR>#strick{
  color: #685855;
}
#INR > #nonstrick{
    margin-left: 10px;
    color: #df4637;
}
#button_des{
    flex-wrap: wrap;
    gap: 10px;
}
#button_des > button{
    height: 50px;
    margin: auto;
    width: 80px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid gray;
    
}
#button_des > button:hover{
  cursor: pointer;
  border: 2px solid black;
}
#quantity{
   margin-top: 20px;
}
#finalprice{
    border: 2px solid black;
    padding-left: 10px;
}
#fs{
    color: red;
    margin-bottom: -2px;
}
#addbutton{
    display: flex;
    gap: 15px;
    margin-top: 30px;
}
#addbutton>button:hover{
    cursor: pointer;
}
#addbutton>div>img:hover{
    cursor: pointer;
}
#addbutton>div{
    width: 10%;
}
#addbutton>div>img{
    width: 100%;
    border: 1px solid gray;
}
#addbutton>button{
    width: 85%;
    color: white;
    background-color: black;
}
#ul{
    line-height: 25px;
}
#reimagined{
    display: flex;
}
#reimagined>img{
    width: 40px;
    margin-right: 10px;
}
#recycle{
    display: flex;
}
#recycle>img{
    width: 40px;
    margin-right: 10px;
}
#learnmore{
    display: flex;
    gap: 20px;
}
#learnmore>h3{
    text-decoration: underline;
}
#learnmore>h3:hover{
  cursor: pointer;
}
#share{
    display: flex;
}
#share>img{
    height: 40px;
    margin-left: 10px;
}
#share>img:hover{
    cursor: pointer;
}
#share>h3{
    margin-top: 8px;
}
#zoom{
    overflow: hidden;
   
}
#zoom>img{
    zoom: 200%;
}
#bj700{
  display: none;
}
